<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Register Here</title>
</head>
<body>
<h1>Register Here</h1>
<form action="/register" method="post">
  <label for ="Username">Username</label>
  <input type="text" name="username" id="Username"><br>
  <label for ="Email">Email</label>
  <input type="text" name="email" id="Email"><br>
  <label for ="Password">Password:</label>
  <input type="password" name="password" id="Password">
  <input type="submit" value="Register"><br>
</form>

</body>
</html>